/* mobile first */

body {
  min-height: 100vh;
  font-family: "Roboto Slab", serif;
  font-family: "Roboto", sans-serif;
  background-color: #cfc9cd;
}

hr {
  background-color: #ed7225;
}

nav {
  background-color: #4b586b;
}

.btn-large {
  background-color: #ed7225;
}

header {
  z-index: 1;
}

nav h1 {
  color: #cfc9cd;
}

.colorBehindNav {
  background-color: #cfc9cd;
  border-style: solid;
  border-color: #4b586b;
  padding: 5%;
  border-width: 3px;
}

.navName {
  background-color: #ed7225;
  border-style: solid;
  border-color: #4b586b;
  border-width: 3px;
}

.introHeader {
  background-color: #cfc9cd;
  border-style: solid;
  border-color: #4b586b;
  padding: 1%;
}

.navName h1 {
  padding: 5%;
}

h1 {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

p {
  margin-left: 5%;
  margin-right: 5%;
}

.icon {
  height: 28px;
  width: 34px;
}

.container-fluid {
  background-color: #4b586b;
  padding-left: 0;
  padding-right: 0;
}

img {
  max-width: 90%;
  margin: 2%;
}

.avatar {
  border-radius: 50%;
  width: 210px;
  margin: auto;
  display: block;
  margin-bottom: 3%;
  margin-top: 3%;
}

.header {
  color: #4b586b;
}

.intro {
  text-align: center;
  color: #ed7225;
}

.about h2 {
  color: #ed7225;
}

.about {
  color: #cfc9cd;
}

hr {
  margin-bottom: 50px;
  margin-top: 50px;
}

.item {
  justify-content: center;
  text-align: center;
  height: auto;
  width: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  /* margin-left: 10%;
  margin-right: 10%; */
  padding: 16px 15px 13.5px 19px;
  border-radius: 25px;
  background-color: #e6e6e6;
  color: #4b586b;
}

.projects h1 {
  color: #ed7225;
}

.projects h4 {
  color: #ed7225;
}

.projectLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.projectLink {
  margin: auto;
}

.links {
  justify-content: center;
  text-align: center;
}

.projects {
  justify-content: center;
  align-items: baseline;
  padding-left: 5%;
  padding-right: 5%;
}
.projectLink i {
  color: #4b586b;
}

.projectLinks a {
  color: #4b586b;
}

#particles-js {
  position: fixed;
  left: 0;
  width: 100%;
  min-height: 100vh;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

/* laptops and larger */
@media (min-width: 988px) {
  .body {
    flex-direction: row;
    flex: 1;
    justify-content: center;
  }

  .main {
    flex: 1;
    align-items: center;
    border-radius: 25px;
    justify-content: center;
  }

  .links {
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    min-height: 100vh;
  }

  .navName {
    margin-top: 10%;
  }

  .projects {
    display: flex;
    justify-content: center;
    /* align-items: baseline; */
    flex-direction: row;
    flex-wrap: wrap;
  }

  img {
    margin-bottom: 3%;
  }

  nav a {
    height: 64px;
  }

  .masonry {
    column-count: 4;
    column-gap: 1em;
  }

  .projectLinks a {
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: center; */
    /* margin-top: 5%; */
    /* text-align: center; */
    padding: 1em;
    /* margin-left: 10%; */
    /* margin-right: 10%; */
  }

  .item {
    /* display: flex; */
    margin: 1em; /* Some gutter */
    max-width: 45%;
    flex-wrap: wrap;
  }

  #index-banner {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    /* max-width: 1680px; */
    width: 90%;
  }
}
